{{> welcome-menu active="signup"}}

<section class="section">
  <h1 class="title">Sign up</h1>
   <div class="container" style="max-width: 520px;">
     <h1 class="title">Sign Up</h1>
    {{> error}}

  <form action="/register" method="POST">
    <div class="field"> <label class="label">First Name</label>
    <div class="control"><input class="input" type="text" name="firstName"> </div></div>
     
    <div class="field"><label class="label">Last Name</label><div class="control">
    <input class="input" type="text" name="lastName"></div></div>
      
    <div class="field"><label class="label">Email</label><div class="control">
    <input class="input" type="email" name="email"></div></div>

    <div class="field"><label class="label">Password</label>
    <div class="control"><input class="input" type="password" name="password"></div></div>
    <button class="button is-link">Create Account</button>
    </form>
  </div> 
  </form>
</section>
