<!--
  Error Display Component

  Displays validation or form errors returned from the backend.
  Iterates through error messages and shows them in a list.
-->

{{#if errors}}
  <div class="box content">
    <p> There was a problem... </p>
    <ul>
      {{#each errors}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
