<nav class="navbar" style="background:#ffd8ea;">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/dashboard">
        NailSpot Dublin
      </a>
    </div>

    <div class="navbar-menu is-active">

      <div class="navbar-start">
        <a href="/dashboard" class="navbar-item">Dashboard</a>
        <a href="/salons" class="navbar-item">Salons</a>
        <a href="/categories" class="navbar-item">Categories</a>
        <a href="/about" class="navbar-item">About</a>
        <a href="/account" class="navbar-item">Settings</a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="/logout">Logout</a>
      </div>

    </div>

  </div>
</nav>